# Android Studio / IntelliJ
.idea/
*.iml
.DS_Store

# Gradle & Build
.gradle/
build/
**/build/
.cxx/
.externalNativeBuild/

# Local settings
local.properties

# Keys & signing
**/*.jks
**/keystore.*

# Binary outputs
*.apk
*.aab
*.aar
*.ap_
*.so
*.o
*.obj

# Tests
**/src/androidTest/**
**/src/test/**
**/src/unitTest/**

# Logs & captures
*.log
captures/
